version: '3.9'

services:

  bolsas-api:
    build: .
    container_name: bolsas-api
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always

  db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: isaciBolsasAPI
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data