spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}  # padrão = produção

  jpa:
    database: postgresql
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  sql:
    init:
      platform: postgres

  security:
    user:
      name: disabled
      password: disabled

security:
  api:
    key: ${SECURITY_API_KEY:default-api-key}

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:true}
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:true}
